body{
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 1.25rem;
line-height: 1.5;
padding-right: 3rem;
padding-left: 3rem;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    margin-bottom:0;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: underline rgb(255, 37, 37);
}

span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    
}

footer{
    background-color: black;
    color: ghostwhite;
    padding: 0rem;
    font-size: smaller;
}

ul{
    padding: 0;
    list-style: none;
}

img{
    width: 56rem;
    
}

figcaption{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
    font-style: italic;
    color: rgb(121, 121, 121);
    
}


height="50" viewBox="0 0 130 50" width="130">